@import url('https://fonts.googleapis.com/css2?family=Poppins;wght@200;400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #AAAAAA;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.box {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(100, 100,100, 0.4);
	width: 500px;
}

.A {
	background-color: #70A1D7;
	display: grid;
	gap: 10px;
	width: 100%;
	padding: 20;
}

h2 {
	text-align: center;
}

.input-field {
	background-color: white;
	align-items: center;
	justify-content: center;
	margin: 10px;
	display: grid;
	gap: 5px;
}

#input {
	background-color: #E1E1E1;
	border: none;
	border-bottom: 2px solid black;
	font-family: 'Poppins', sans-serif;
	text-align: left;
}

#input:focus {
	outline: none;
}


#cancel {
	background-color: white;
	color: black;
	display: block; 
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit; 
	padding: 10px;
		padding-left: 20px;
	padding-right: 20px;
}

#login {
	background-color: #70A1D7;
	color: black;
	display: block; 
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit; 
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

button:hover {
	opacity: 70%; 
}

.button-container {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}